html {
    /* px means "pixels". The base font size is now 10 pixels high */
    font-size: 15px;
    /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
    font-family: "Roboto Condensed", sans-serif;
  }

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #e392fe75;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #be38f3ce;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}


label {
    /*Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea {
    /*To make sure that all text fields have the same font settings
    By default, the text areas have a monospace font */
    font: 1em;
    /*Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /*Match form field borders*/
    border: 1px solid #999999
}

textarea {
    /*Align multiline text fields with their labels */
    vertical-align: top;
    /*provide the space to type some text */
    height: 5em;
}

.button {
    /* to align with text fields */
    padding-left: 90px;
}

button {
    /* This extra margin represents roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}

